<a href="https://colab.research.google.com/github/lwallac2/Adult-dataset/blob/main/Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [98]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

In [106]:
df = pd.read_csv("bank-additional.csv")

In [107]:
df.columns = df.columns.str.replace('[" "]','')
  
# print file after removing special character
print("\n\n ", df)

       age;job;marital;education;default;housing;loan;contact;month;day_of_week;duration;campaign;pdays;previous;poutcome;emp.var.rate;cons.price.idx;cons.conf.idx;euribor3m;nr.employed;y
0     30;"blue-collar";"married";"basic.9y";"no";"ye...
1     39;"services";"single";"high.school";"no";"no"...
2     25;"services";"married";"high.school";"no";"ye...
3     38;"services";"married";"basic.9y";"no";"unkno...
4     47;"admin.";"married";"university.degree";"no"...
...                                                 ...
4114  30;"admin.";"married";"basic.6y";"no";"yes";"y...
4115  39;"admin.";"married";"high.school";"no";"yes"...
4116  27;"student";"single";"high.school";"no";"no";...
4117  58;"admin.";"married";"high.school";"no";"no";...
4118  34;"management";"single";"high.school";"no";"y...

[4119 rows x 1 columns]

In [109]:
df

     age;job;marital;education;default;housing;loan;contact;month;day_of_week;duration;campaign;pdays;previous;poutcome;emp.var.rate;cons.price.idx;cons.conf.idx;euribor3m;nr.employed;y
0     30;"blue-collar";"married";"basic.9y";"no";"ye...
1     39;"services";"single";"high.school";"no";"no"...
2     25;"services";"married";"high.school";"no";"ye...
3     38;"services";"married";"basic.9y";"no";"unkno...
4     47;"admin.";"married";"university.degree";"no"...
...                                                 ...
4114  30;"admin.";"married";"basic.6y";"no";"yes";"y...
4115  39;"admin.";"married";"high.school";"no";"yes"...
4116  27;"student";"single";"high.school";"no";"no";...
4117  58;"admin.";"married";"high.school";"no";"no";...
4118  34;"management";"single";"high.school";"no";"y...

[4119 rows x 1 columns]

The CLASS attribute is y, as it relies on the other attributes a person may have to help figure out if the person will subscribe to a term deposit. The other attributes that may be related is Education and Duration.

In [77]:
df.select_dtypes(int)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[41188 rows x 0 columns]

In [101]:
df.select_dtypes('O')

      age;job;marital;education;default;housing;loan;contact;month;day_of_week;duration;campaign;pdays;previous;poutcome;emp.var.rate;cons.price.idx;cons.conf.idx;euribor3m;nr.employed;y
0      56;"housemaid";"married";"basic.4y";"no";"no";...
1      57;"services";"married";"high.school";"unknown...
2      37;"services";"married";"high.school";"no";"ye...
3      40;"admin.";"married";"basic.6y";"no";"no";"no...
4      56;"services";"married";"high.school";"no";"no...
...                                                  ...
41183  73;"retired";"married";"professional.course";"...
41184  46;"blue-collar";"married";"professional.cours...
41185  56;"retired";"married";"university.degree";"no...
41186  44;"technician";"married";"professional.course...
41187  74;"retired";"married";"professional.course";"...

[41188 rows x 1 columns]

In [104]:
#Transforming Variables
df[education] = df.education.astype(int)
education = {'basic.4y' : 0,'basic.6y' : 1,'basic.9y' : 2,'high.school' : 3,'illiterate' : 4,'professional.course' : 5,'university.degree' : 6,'unknown' : 7}
df[education] = df[education].map(education)

AttributeError: ignored

In [69]:
df.y.astype(bool)

AttributeError: ignored

Question 1

In [105]:
#Five Number Summary of y
df.y.describe()

AttributeError: ignored

In [ ]:
#Five Number Summary of duration
df.duration.describe()

Question 2

In [ ]:
#Making a box plot for Monthly Charges
fig1, ax1 = plt.subplots()
ax1.set_title('Y Boxplot')
ax1.boxplot(df.y);

Question 3

In [ ]:
df.y.describe()

In [ ]:
df.duration.describe()

Question 4

In [ ]:
import scipy.spatial.distance as dist

In [ ]:
point1 = np.array((df.duration))
point2 = np.array((df.y))

print ("Euclidean Distance:", dist.euclidean(point1,point2))

In [ ]:
point1 = np.array((df.education))
point2 = np.array((df.y))

print ("Euclidean Distance:", dist.euclidean(point1,point2))

My data file will not upload correctly so that I can use it, however I am pretty confident my code would run, the columns are not separating individually which is making my code very much impossible to work with.